body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 230, 234);
  font-family: Arial, sans-serif;
}
.thong-bao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 182, 193);
  padding: 6px;
  font-size: 18px;
}

.inclusion {
  width: 500px;
  text-align: center;
  background-color: rgb(249, 174, 186);
  padding: 10px;
  border-radius: 10px;
  margin-top: 60px;
}
.nhapThongTin {
  display: flex;
  justify-content: center;
}
.nhap-tinh {
  margin-top: 55px;
  width: 250px;
  height: 300px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
}
.nhap-tinh div {
  margin-top: 8px;
  color: pink;
}
input {
  width: 140px;
  padding: 6px;
  border-radius: 15px;
}
button {
  width: 80px;
  padding: 6px;
  border-radius: 5px;
  background-color: pink;
  color: black;
}
.anh {
  max-width: 150px;
  height: auto;
  margin-left: 40px;
  border-radius: 20px;
}
