body {
  margin: 0;
  padding: 0%;
  color: white;
  /* font-family: ; */
}
/* HEADER */
header {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;

}
.container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
}

ul {
  display: flex;
  list-style: none;
  /* gap: 20px; */
  padding: 0;
  margin: 0;
  align-items: center;
}

li {
  margin-right: 20px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
li img {
  height: 7.5vh;
  width: auto;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.chucnang {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 180px;
  cursor: pointer;
}
main {
  width: 100%;
  height: 89vh;
  display: flex;
  /* background-color: pink; */
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
}
.main-left {
  width: 12.5%;
  /* background-color: aqua; */
  background-color: #1f1f1f;
}
/* MAIN-CENTER */
.main-center {
  width: 75%;
  /* background-color: red; */
  background-color: #1f1f1f;
  overflow-y: scroll;
  scrollbar-width: none;
}
.danhsach-tt ul {
  margin: 0;
  padding-left: 20px;
  gap: 20px;
  list-style: disc;
}
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}
.danhsach-tt {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin-bottom: 20px;
}
.danhsach-tt ul {
  margin: 0;
  padding-left: 20px;
  display: flex;
  gap: 20px;
  list-style: disc;
}
.banner-info button {
  margin-right: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.xemngay {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 30px;
}

.trailer {
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.banner-QC {
  width: 100%;
  margin: 0 auto;
}
.QC {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.QC img {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 8px;
}
.anh-bn img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 20px;
}
/* LIST */
/* khúc 1 */
.film-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.film {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  cursor: pointer;
}
.film img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}
/* Khúc 2 */
.film2 {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 330px;
  cursor: pointer;
}
.film2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* khúc 3 */
.film3 {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  cursor: pointer;
}
.film3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* khuc 4 */
.film4 {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  cursor: pointer;
}
.film4 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* khuc 5 */
/* .film5 {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  position: relative;
}
.so-anh{
  position: relative;
  width: 100%;
}
.so-anh img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  z-index: 1;
  position: relative;
}
.so-anh .number{
  
} */

.main-right {
  width: 12.5%;
  /* background-color: peru; */
  background-color: #1f1f1f;
  display: flex;
  justify-content: flex-end;
}
/* footer */
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
footer {
  width: 100%;
  background-color: #1f1f1f;
  color: white;
  padding: 40px 0;
}
.footer-inner {
  width: 75%;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-logo {
  margin-left: -120px;
  display: flex;
  flex-direction: column;
}
.dathongbao {
  margin-bottom: 30px;
}
.footer-logo img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 120px;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
}

.footer-info li {
  margin-bottom: 8px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
}

.social-icons img {
  display: inline-block;
}
.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 60px;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-bot .info {
  flex: 1 1 60%;
  line-height: 1.6;
  color: #bbb;
  margin-left: -120px;
}

.footer-bot .logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.footer-bot .logo img {
  width: 20px;
  height: auto;
}
.list .film-container {
  width: 100%;
  height: auto;
}
.list .film-container img {
  width: 100%;
  height: auto;
}
